<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.basic.domain.home.dao.HomeDao">

    <select id="getMenuList" resultType="com.app.basic.domain.home.dto.MenuDto">
		<![CDATA[
			SELECT
				   MENU_SEQ
				 , MENU_NAME
			  FROM MENU_INFO
		]]>
	</select>

	<select id="getMenuInfo" parameterType="int" resultType="com.app.basic.domain.home.dto.MenuDto">
		<![CDATA[
			SELECT
				   MENU_SEQ
				 , MENU_NAME
			  FROM MENU_INFO
		     WHERE MENU_SEQ = #{menuSeq}
		]]>
	</select>

</mapper>